<html>
	<p><strong>Nombre:</strong>
	<%= @personaje['name']%></p>
	<p><strong>Peliculas:</strong> <br/>
	<% @cine.each do |i| %>
  	<%= link_to i['title'], pelicula_path(i['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>Año de Nacimiento:</strong>
	<%= @personaje['birth_year']%></p>
	<p><strong>Planeta de Origen:</strong> <br/>
	<%= link_to @mundo['name'], planeta_path(@mundo['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<p><strong>Estrellas Espaciales:</strong> <br/>
	<% @muerte.each do |i| %>
  	<%= link_to i['name'], estrella_path(i['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>Vehiculos:</strong> <br/>
	<% @auto.each do |i| %>
  	<%= link_to i['name'], vehiculo_path(i['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>Género:</strong>
	<%= @personaje['gender']%></p>
	<p><strong>Color de Ojos:</strong>
	<%= @personaje['eye_color']%></p>
	<p><strong>Color de Pelo:</strong>
	<%= @personaje['hair_color']%></p>
	<p><strong>Estatura:</strong>
	<%= @personaje['heigth']%></p>
	<p><strong>Peso:</strong>
	<%= @personaje['mass']%></p>
	<p><strong>Color de Piel:</strong>
	<%= @personaje['skin_color']%></p>
	<p><strong>Creado:</strong>
	<%= @personaje['created']%></p>
	<p><strong>Editado:</strong>
	<%= @personaje['edited']%></p>
	<p><strong>Especie:</strong> <br/>
	<% @ser.each do |i| %>
  	<%= link_to i['name'], especy_path(i['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>URL:</strong>
	<%= @personaje['url']%></p>
</html>
    