<html>
	<p><strong>Titulo:</strong>
	<%= @pelicula['title']%></p>
	<p><strong>Director:</strong>
	<%= @pelicula['director']%></p>
	<p><strong>Productor(es):</strong>
	<%= @pelicula['producer']%></p>
	<p><strong>Fecha lanzamiento:</strong>
	<%= @pelicula['release_date']%></p>
	<p><strong>Id del Episodio:</strong>
	<%= @pelicula['episode_id']%></p>
	<p><strong>Creado:</strong>
	<%= @pelicula['created']%></p>
	<p><strong>Editado:</strong>
	<%= @pelicula['edited']%></p>
	<p><strong>Introducción:</strong>
	<%= @pelicula['opening_crawl']%></p>
	<p><strong>Personajes:</strong> <br/>
	<% @cabros.each do |i| %>
  	<%= link_to i['name'], personaje_path(i['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>Planetas:</strong> <br/>
	<% @mundos.each do |j| %>
  	<%= link_to j['name'], planeta_path(j['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i) %> <br/>
	<% end %> </p>
	<p><strong>Estrellas Espaciales:</strong> <br/>
	<% @muerte.each do |k| %>
  	<%= link_to k['name'], estrella_path(k['url'].split(//).map {|x| x[/\d+/]}.compact.join("").to_i)  %>  <br/>
	<% end %> </p>
	<p><strong>URL:</strong>
	<%= @pelicula['url']%></p>
</html>