<html>
	<p><strong>Titulo:</strong>
	<%= @pelicula['title']%></p>
	<p><strong>Director:</strong>
	<%= @pelicula['director']%></p>
	<p><strong>Productor(es):</strong>
	<%= @pelicula['producer']%></p>
	<p><strong>Fecha lanzamiento:</strong>
	<%= @pelicula['release_date']%></p>
	<p><strong>Id del Episodio:</strong>
	<%= @pelicula['episode_id']%></p>
	<p><strong>Creado:</strong>
	<%= @pelicula['created']%></p>
	<p><strong>Editado:</strong>
	<%= @pelicula['edited']%></p>
	<p><strong>Introducción:</strong>
	<%= @pelicula['opening_crawl']%></p>
	<p><strong>Personajes:</strong>
	<%= @pelicula['characters']%></p>
	<p><strong>Planetas:</strong>
	<%= @pelicula['planets']%></p>
	<p><strong>Estrellas Espaciales:</strong>
	<%= @pelicula['starships']%></p>
	<p><strong>URL:</strong>
	<%= @pelicula['url']%></p>
</html>